<% layout("/layouts/boilerplate")%>

    <body>
        <h3>Edit your listing</h3>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <form method="post" action="/listing/<%=listing._id%>?_method=PUT" novalidate class="needs-validation"
                    enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control"
                            required>
                        <div class="valid-feedback">Title looks fine</div>
                        <br><br>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]" class="form-control"
                            required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please provide a short description</div><br><br>
                    </div>

                    <div class="mb-3">
                        Original Listing image: <br>
                        <img src="<%=originalImageUrl %>" height="300" width="350" alt="image">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload new Image</label>
                        <input type="file" name="listing[image]" class="form-control">
                        <!-- <div class="valid-feedback"></div> -->
                        <br><br>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control"
                                required>
                            <div class="invalid-feedback">Enter valid price</div>
                            <br><br>
                        </div>

                        <div class="mb-3 col-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="<%= listing.country %>"
                                class="form-control" required>
                            <div class="invalid-feedback">Enter valid country name</div><br><br>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control"
                            required>
                        <div class="invalid-feedback">Enter valid location</div>
                        <br><br>
                    </div>

                    <button class="btn btn-dark edit-btn">Edit</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>